name: CI

on: [push]

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Create npm configuration
        run: echo "//npm.pkg.github.com/:_authToken=${token}" >> ~/.npmrc
        env:
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - run: npm ci
      - run: npm run lint
      - run: npm run build
      - run: npm run test

  rust-tests-working:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
      - uses: ./
        with:
          command: check
          toolchain: stable
          args: --package working --all-targets --all-features

  rust-tests-not-working:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
      - uses: ./
        with:
          command: build
          args: --package not_working
      - uses: ./
        with:
          command: build
          args: --package not_working --all-features
        continue-on-error: true

  rust-tests-cross:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: aarch64-unknown-linux-gnu
      - uses: ./
        with:
          command: build
          args: --target aarch64-unknown-linux-gnu
          use-cross: true
          working-directory: rust_tests/working

  rust-clippy-warnings:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
      - uses: ./
        with:
          command: clippy
          args: --package clippy_warnings

  rust-fmt-warnings:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
      - uses: ./
        with:
          command: fmt
          args: --package fmt_warnings --check
